<!-- Editable table -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Editable table</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center">State</th>
          <th class="text-center">City</th>
          <th class="text-center">County</th>
          <th class="text-center">Tax Rate</th>
          <th class="text-center">Expiration Date</th>


        </tr>
        <tr *ngFor="let item of tableList; let id = index">
          <td>
            <span (keyup)="changeValue(id, 'state', $event)" (blur)="updateList(id, 'state', $event)"
              contenteditable="true">{{item.state}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'city', $event)"
              (blur)="updateList(id, 'city', $event)">{{item.city}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'county', $event)"
              (blur)="updateList(id, 'county', $event)">{{item.county}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'taxRate', $event)"
              (blur)="updateList(id, 'taxRate', $event)">{{item.taxRate}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'expiration', $event)"
              (blur)="updateList(id, 'expiration', $event)">{{item.expiration}}</span>
          </td>


        </tr>
      </table>
    </div>
  </div>
</div>
<!-- Editable table -->